torch==1.12.0
torchvision==0.13.0
numpy
scipy
scenedetect==0.5.1
opencv-contrib-python
python_speech_features
pandas
tensorboard
easydict
mxnet
onnx
scikit-learn
scikit-image
face-alignment
tqdm
piq
lpips